/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #121212FF;
    background-alt: #FFFFFFFF;
    foreground:     #FFFFFFFF;
    selected:       #FF8BA8FF;
    active:         #b70000FF;
    urgent:         #E06B74FF;
}
